@media screen and (max-width: 1350px) {
    
    header {
        width: 80%;
        margin: 0 10%;
    }
    
    header div:nth-child(1) {
        margin-right: 15%;
        width: auto;
    }

    header div:nth-child(2) {
        width: 74%;
        max-width: inherit;
    }

    main {
        width: 80%;
        margin: 0 10%;
    }

    .intro {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .intro > div > h1 {
        text-align: center;
    }

    .intro > div > p {
        text-align: justify;
    }

    .intro > div:nth-child(1) {
        width: 100%;
        padding-top: 120px;
        margin: 0;
    }

    .intro > div > div:nth-child(5) {
        display: flex;
        margin-top: 45px;
        justify-content: space-evenly;
    }

    .intro > div > div:nth-child(5) > div {
        width: 25%;
    }

    .intro > div > div:nth-child(5) h4 {
        text-align: center;
    }

    .intro > div > div:nth-child(5) img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .intro > div > div:nth-child(5) p {
        text-align: justify;
    }

    .intro > div > div:nth-child(5) > div:nth-child(1) {
        margin-right: 0;
    }

    .intro > div > div:nth-child(5) > div:nth-child(2) {
        margin-left: 0;
    }

    .intro > div:nth-child(2) {
        width: 70%;
        padding-top: 75px;
        margin: auto;
    }

    .intro > div:nth-child(2) img {
        width: 100%;
    }

    .about {
        height: auto;
        padding: 0;
        flex-wrap: wrap;
    }

    .about > div:nth-child(1) {
        margin-right: 0;
        margin-top: 100px;
    }

    .about > div {
        width: auto;
        height: auto;
        margin-top: 0;
    }

    .about > div:nth-child(1) > h1 {
        text-align: center;
    }

    .about > div:nth-child(1) > p {
        text-align: justify;
    }

    .about > div > div:nth-child(5) {
        margin-top: 45px;
        justify-content: space-evenly;
    }

    .about > div > div:nth-child(5) div {
        width: 25%;
    }

    .about > div > div:nth-child(5) img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .about > div > div:nth-child(5) h4 {
        text-align: center;
    }

    .about > div > div:nth-child(5) p {
        text-align: justify;
        padding-right: 0;
    }

    .about > div:nth-child(2) {
        width: 50%;
        padding-top: 75px;
        margin: auto;
    }

    .about > div:nth-child(2) img {
        width: 100%;
    }

    .pricing {
        height: auto;
        padding: 0;
        margin-bottom: 10%;
    }

    .pricing > h1 {
        text-align: center;
        padding: 59px 0 0;
    }

    .pricing > p {
        padding-left: 0;
        text-align: justify;
        width: auto;
    }

    .pricing > div {
        margin: 50px 0 0 0;
    }

    .pricing > div h2 {
        text-align: center;
    }

    .pricing > div h3 {
        text-align: center;
    }

    .pricing > div p {
        margin-right: 0;
        text-align: justify;
    }

    .pricing button {
        display: block;
        margin: 30px auto 0;
    }

    footer {
        min-width: auto;
    }

    footer > div:nth-child(1) {
        margin: 0 10%;
        width: auto;
    }
}